.settings{
    width:100%;
    max-width: 700px;
    margin:0 auto;
    background-color: white;
    box-sizing: border-box;
    padding:30px;
    margin-top:20px;
    border-radius: 20px;
}
.settingsSectionWrapper{
}
.settingsTitle{
    font-size: 25px;
    padding:0;
    margin:0;
}

.settinsSectionHeader{
    width:100%;
    text-decoration: underline;
    line-height: 20px;
    padding:20px;
    box-sizing: border-box;
    background-color: white;
    border-bottom:1px solid rgb(233, 233, 233);
    cursor:pointer;
}
.settinsSectionHeader img{
    width:10px;
    height:10px;
    padding:5px;
    float:right;
}

.settingsForm{
    padding:10px;
}
.settingsForm label{
    font-size: 14px;
    color:#747474;
}

/* -- Profile Pictures -- */
.profilePictureHeader{
    font-size: 18px;
    
}
.fileUploadForm{
    padding:20px;
    margin:10px 0;
    box-sizing: border-box;
}