.mainContent{
    flex-basis: 100%;
    width:100%;
    background-color:#f7f7f7;
    padding:20px;
    box-sizing: border-box;
    min-height:calc(100vh);
}

/* -- MEDIA QUERIES -- */

@media only screen and (max-width: 1024px) {
  .mainContent{
    padding:10px;
  }
}