.post{
    background-color:white;
    width:100%;
    max-width: 700px;
    border-radius:20px;
    margin-bottom:20px;
    box-shadow: 0 0 5px #b8b8b8;
    overflow:hidden;
}
.post:last-child{
    margin-bottom:0;
}