.GoogleLoginButton{
    line-height: 20px;
    padding:10px;
    align-items: center;
    border: 1px solid gainsboro;
    border-radius:3px;
    color:#404040;
    float:right;
    font-weight:normal;
    transition: all .2s linear;
}
.GoogleLoginButton:hover{
    background-color: gainsboro;
    color:black;
}
.GoogleLoginButton img{
    width:20px;
    height: 20px;
    vertical-align: middle;
}